{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}

{% block body_class %}home{% endblock %}

{% block middle %}
   {{ block.super }}
  {% block hero %}

{% endblock %}

<div class="container">
<body>
    <div class="row body-top col-md-6 center-text home-facets" style="">
      <div style"width:100%;padding-bottom: 10px;">
        <a href="https://lipad-fmc.dream.upd.edu.ph/layers/?limit=100&offset=0&keywords__slug__in=flood-hazard-map" class="button" style="background:#1097e6;background-image:linear-gradient(to bottom, #25a5f0, #1097e6 66%, #0f8ad3); border: 1px solid; border-radius:5px;line-height:90px; color:white;padding:10px; text-shadow:0 -1px rgba(0, 0, 0, 0.4);border-color:#0d78b6 #0d78b6 #0b689e;box-shadow:inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.25);font-size:38px;">Download Flood Hazard Maps</a>
        <a data-toggle="modal" data-target="#modal-fhm" href="">How To Download Flood Hazard Maps</a>
        <hr style="border: 0;height: 1px;background: #333;background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,0)), color-stop(50%,hsla(0,0%,0%,.75)), color-stop(100%,hsla(0,0%,0%,0)));background: -webkit-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);background:    -moz-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);background:     -ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);background:      -o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);background:         linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%); margin: 10px 0px 2px 0px;">
      </div>
          <h1 class="no-margin-top">{% trans "Welcome to LiPAD" %}</h1>
          <p>
              {% blocktrans %}
              <abbr title="LiDAR Portal for Archiviing and Distribution">LiPAD</abbr> serves as the primary data access and distribution center of the <a href="https://www.dream.upd.edu.ph/about/phil-lidar-1/" title="About the Phil-LiDAR 1 Program">Phil-LiDAR 1</a> and <a href="https://www.dream.upd.edu.ph/about/phil-lidar-2/" title="About the Phil-LiDAR 2 Program">Phil-LiDAR 2</a> Programs, a Department of Science and Technology initiative that engages the University of the Philippines and fifteen (15) Higher Education Institutions (HEIs) throughout the country, with the aim to produce detailed flood hazard and resource maps using LiDAR technology.
              {% endblocktrans %}
            </p><p>
              {% blocktrans %}
                The datasets, which include Digital Elevation Models (DEMs), Digital Terrain Models (DTMs), Orthophotos, Classified LAZ, Flood Hazard Maps and Resource Maps, are available for download in open and GIS-ready formats, for use by Local Government Units (LGUs), National Government Agencies (NGAs), members of the academe, and researchers, among others.
              {% endblocktrans %}
            </p>

          <div class="col-md-4  border=0 text-center" >
        <p>
          {% get_fhm_fmc_url "%s" as fhm %}
          <a href="{{fhm}}" title="Download Municipal Flood Hazard Maps">
            <i class="fa fa-square-o fa-5x rotate-45"></i>
          </a>
        </p>
        <h2>
          {% get_fhm_fmc_url "%s" as fhm %}
          <a href="{{fhm}}" title="Download Municipal Flood Hazard Maps">
            {% get_fhm_count "%d" as fhm_count %}
             <p class="text-center" >{{ fhm_count }} </p>
          </a>
        </h2>
        <h4 class="text-center">Flood Hazard Maps</h4>
      </div>

      <div class="col-md-4 border=0 text-center" >
        <p>
          <a href="layers/?limit=100&amp;offset=0&amp;keywords__slug__in=phillidar2" title="Download Resource Layers">
            <i class="fa fa-map-marker fa-5x"></i>
          </a>
        </p>
        <h2>
          <a href="layers/?limit=100&amp;offset=0&amp;keywords__slug__in=phillidar2" title="Download Resource Layers">
            {% get_resourceLayers_count "%d" as rl_count %}
            <p class="text-center">{{ rl_count }} </p>
          </a>
        </h2>
        <h4 class="text-center">Resource Layers</h4>
      </div>

      <div class="col-md-4 border=0 text-center" >
        <p><a href="/maptiles/" title="Download DEMs, Classified LAZ and Orthophotos"><i class="fa fa-globe fa-5x"></i></a></p>
        <h2>
          <p class="text-center"><a href="/maptiles/" title="Download DEMs, Classified LAZ and Orthophotos">37,557 sq. km.</a></p>
        </h2>
        <h4 class="text-center">Total LiDAR Coverage</h4>
      </div>

       <!-- <div class="col-md-4 border=0" style="">
        {% blocktrans %}
        <h4 style="margin-top:15px;">How to get data</h4>
        <p>
          <ol>
            <li><a href="/requests/register/profile_request/">Register</a></li>
            <li><a href="/help#registrationprocess">Request</a></li>
            <li><a href="/help#downloadtiles">Download</a></li>
          </ol>
        <p>
        {% endblocktrans %}
      </div>
 -->
      <div class="col-md-4 border=0" style="">
        {% blocktrans %}
        <h4 style="margin-top:15px;">Demo Videos</h4>
        <p>
        <!--   <a data-toggle="modal" data-target="#modal-reg" href="">Register to LiPAD</a> -->
          <!-- <br> -->
          <a data-toggle="modal" data-target="#modal-fhm" href="">Download Flood Hazard Maps</a>
        <!-- <br>
          <a data-toggle="modal" data-target="#modal-data" href="">Download LiDAR Data Tiles</a> -->
        </p>
        {% endblocktrans %}
      </div>

<!--       <div class="col-md-4 border=0" style="" >

        <h4 style="margin-top:15px; text-center">OGC Services</h4>
        <p>
          <ol>
            {% get_public_location "%s" as pl %}
            <li><a href="{{pl}}ows?service=wms&amp;version=1.1.0">WMS 1.1.1</a></li>
            <li><a href="{{pl}}ows?service=wms&amp;version=1.3.0">WMS 1.3.0</a></li>
            <li><a href="{{pl}}ows?service=wfs&amp;version=1.0.0">WFS 1.0.0</a></li>
            <li><a href="{{pl}}ows?service=wfs&amp;version=1.1.0">WFS 1.1.0</a></li>
            <li><a href="{{pl}}ows?service=wfs&amp;version=2.0.0">WFS 2.0.0</a></li>
          </ol>
        <p>

      </div>
-->

    </div>

    <div class="col-md-6 pull-right row body-top">
    {% include "phil-ext2.html" %}
        <div id="preview_map" >
      </div>
      <li class="list-group-item legend">
          <h4 class="list-group-item-heading">Legend</h4>
          <p></p>

          <!--<p>{% get_public_location "%s" as pl %}<img id="legend_icon" src="{{pl}}wms?request=GetLegendGraphic&amp;format=image/png&amp;WIDTH=20&amp;HEIGHT=20&amp;LAYER=geonode:philgrid&amp;legend_options=fontAntiAliasing:true;fontSize:12;forceLabels:on"></p>-->
          <p>{% get_public_location "%s" as pl %}<img id="legend_icon" src="/static/geonode/img/philgrid_legend.png"></p>
      </li>
    </div>
</body>
</div>

<div class="container">
<div>
  <h2>{% trans "Registration and Data Tiles Module temporarily unavailable." %}</h2>
</div>
<div class="col-md-8 row">
  <br>
  <br>
  <p> LiPAD is currently experiencing issues with Account Creation and its GeoServer backend. Our team is working to identify the issue and correct it. However, due to an understaffed team, we might take long to fix the issue.  We might also resort to redeployng LiPAD to another server to be able to update its dependencies and for more optimal performance. </p>

  <p> We apologize for the inconvenience. Thank you for your usual support and understanding. </p>

  {% blocktrans %}
  <br>
  <h3>Flood Hazard Maps</h3>
  <p>Flood Hazard Maps are still available at the <a href="https://lipad-fmc.dream.upd.edu.ph/layers">LiPAD FMC website</a>, without registration. Please proceed to the subsite if you are interested on downloading Flood Hazard Maps. </p>

  <h3>Manual Data Requests</h3>

  <p> Since the portal is experiencing issues with account registration, may we request all data requests be coursed through our official e-mail address:  <a href="mailto:lipad@dream.upd.edu.ph">LiPAD Team &lt;lipad@dream.upd.edu.ph&gt;</a> with a subject of "[LiPAD] Data Request from (Your Name) / (Your organization or affiliation)". Kindly provide the following details on your e-mail:

  <ol type="1">
     <li> Full Name </li>
     <li> Office / Organization </li>
     <li> Organization Type - Local NGO / NGA - (Department) / Academic (Students/Researchers/Faculty/Foundations) / LGU / International NGO / PHIL-LiDAR SUC / Others </li>
     <li> Local or foreign entity with respect to the Philippines </li>
     <li> E-mail address </li>
     <li> Contact Number </li>
     <li> Project Name / Research or Dissertation Title</li>
     <li> Project Summary / Research Abstract </li>
     <li> Use/purpose of the data - DRRM, Planning, Management, Exploration, Mapping, others </li>
     <li> Type of Data requested: LiDAR Orthophotos, LAZ, DSM, DTM Files, PHIL-LiDAR 2 Datasets, etc.</li>
     <li> Intended Use of the data - Commercial or noncommercial</li>
  </ol>

  <p> Please attach a scanned <b>signed</b> formal letter addressed to: </p>

  <span> Dr. Louie Balicanta &nbsp;</span><br/>
  <span> Director, UP Training Center for Applied Photogrammetry and Geodesy&nbsp;</span><br/>
  <span> 312-316 National Engineering Center, Juinio Hall&nbsp;</span><br/>
  <span> University of the Philippines, Diliman, Quezon City &nbsp;</span><br/>
  <br/<
  <p> State your intent to request data, project background/summary and the data requested. For students/researchers, the letter must be signed and endorsed by an adviser. </p>

   <p> Requests for Orthophotos, LAZ, Digital Surface Models (DSM), and Digital Terrain Models (DTM) <b> must include a Polygon shapefile</b> generated from GIS Software or a browser based shapefile generation tool: <a href="https://lipad.dream.upd.edu.ph/click2shp/">Click2SHP</a>.</p>
  <p>Valid shapefiles include all of the following filetypes:
  <ul>
      <li> .shp </li>
      <li> .shx </li>
      <li> .dbf </li>
      <li> .prj </li>
  </ul></p>

  <p> Incomplete data requests or requests that have information intentionally withheld will not be entertained.</p>

  <p>The UP DREAM / PHIL-LiDAR Program doesn't provide data to private entities unless a formal letter is given in writing and is explicitly approved by the Program Leader.
Since this is a government-funded project, our products are only licensed for use academically, for research purposes, for LGUs and NGOs that have no commercial purpose for the data.</p>

  <p>If you are partnering with a government agency/NGA/LGU for a project, please ask that GA/NGA/LGU to request data on your behalf. </p>

  <p>If you still want to obtain data for private or commercial use, please contact our Business Development Officer at <a href="mailto:bdo@dream.upd.edu.ph">bdo[at]dream.upd.edu.ph</a></p>

  <p>Note: Some data requests will need approval from the Program Leader before the data request is processed.</p>

   {% endblocktrans %}
</div>

<div>
<!--
<div class="modal fade" id="modal-reg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{% trans "Register to LiPAD" %}</h4>
      </div>
      <div class="modal-body">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/DdLAjPg1oyQ" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
      </div>
    </div>
  </div>
</div>
 -->
<div class="modal fade" id="modal-fhm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{% trans "Download Flood Hazard Maps" %}</h4>
      </div>
      <div class="modal-body">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3HpiZ9pg4fU" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="modal-data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{% trans "Download LiDAR Data Tiles" %}</h4>
      </div>
      <div class="modal-body">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TqTbxk0fF_A" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
      </div>
    </div>
  </div>
</div>
 -->
<!-- {% include "_modal_announcements.html" %} -->
  {% endblock %}

{% block mainbody %}

{% endblock %}
<!-- {% block extra_script %}
  <script type="text/javascript">
    $(window).load(function(){
        $('#modal-announcements').modal('toggle');
    });
  </script>
{% endblock extra_script %}
 -->
