{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Email address confirmed" %}{% endblock %}

{% block body %}
    <h2>{% trans "Email address confirmed" %}</h2>

   <p>{% blocktrans %}You have now created and confirmed your account. You may proceed with requesting for data by logging in and selecting <i>Request New Data</i>{% endblocktrans %}</p>
   <p>{% blocktrans %}If you have further questions, contact us at <strong>{{ support_email }}</strong>, and we'll be glad to assist you.{% endblocktrans %}{% endblocktrans %}</p>

{% endblock %}
